* {
  box-sizing: border-box;
}

@import "components/_normalize";
@import "components/_mixins";
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1176px;
$link-color: #34AC98;
$link-h-color: #EC6635;
$meta-color: #AAA;
$credits-color: #555;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ff-tisa-web-pro, Georgia, sans-serif;
}

a {
  text-decoration: none;
  color: $link-color;
  @include link-hover($link-h-color);
}

.container {
  @include flex-container(column);
}

.content {
  display: flex;
  flex-direction: column;
  width: 310px;
  @include media-range($xs+1, $sm) {
    width: 480px;
  }
  @include media-higher-than($sm+1) {
    width: 712px;
  }
}

@include media-range($md+1, $lg) {
  .container {
    width: 990px;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 50px;
  }
}

@include media-higher-than($lg+1) {
  .content {
    width: 900px;
  }
  .container {
    width: 1170px;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 50px;
  }
}

@import "components/icons";
@import "components/top-menu";
@import "components/logo";
@import "components/slider";
@import "components/newsletter";
@import "components/articles";
@import "components/footer";