@import "components/_normalize";
@import "components/_mixins";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ff-tisa-web-pro, Georgia, sans-serif;
}

a {
  text-decoration: none;
  color: #34AC98;
}

.container {}

.content {
  display: flex;
  flex-direction: column;
  width: 310px;
}

@import "components/_top-menu";
@import "components/_logo";
@import "components/_slider";
@import "components/_newsletter";
@import "components/_articles";