
@{
    ViewBag.Title = "AddImage";
}

<h2>AddImage</h2>

@using (Html.BeginForm("AddImage", "User", FormMethod.Post, 
    new { enctype = "multipart/form-data"} ))
{
    <input type="file" name="uploaded" />
    <input type="submit" value="Upload" />
}

