.fl {
    float: left;
}

.fr {
    float: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.d-inline-b {
    display: inline-block;
    vertical-align: middle;
}

.d-block {
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}

.outline-hidden {
    outline-width: 0;
}

.mt-10p {
    margin-top: 10px;
}