* {
    box-sizing: border-box;
}

.content {
    background-color: $content-bg-color;
    padding: 2%;
}

.container {
    width: 96%;
}

.header {
    height: 60px;
}

a {
    color: $text-color-black;
    text-decoration: none;
}

.btn {
    padding: 0 15px;
    height: 40px;
    border: 1px solid $tab-bg-color;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #f1f1f1, #e1e1e1);
    font-size: $f-s-14;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.icon-excel {
    background: url("../img/excel.png");
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.hiding-checkbox {
    display: none;
}

.hiding-checkbox:checked~.nav {
    display: block;
    &.nav-interactive{
        visibility: visible;
        z-index: 1;
        transform: translateX(0%);
        transition-delay: 0s, 0s, 400ms;
    }
}

.list-unstyled {
    list-style: none;
}

.hidden-outline {
    outline: 0;
}

.hidden-outline:focus {
    outline: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.d-inline-b {
    display: inline-block;
    vertical-align: middle;
}

.d-block {
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}