.header-logo {
    height: 100%;
    background-image: url("../img/epam-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.burger {
    display: none;
}

.hamburger {
    margin-top: 5px;
    margin-left: 20px;
    cursor: pointer;
    color: $text-color;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
}

.burger:checked~.nav {
    display: block;
    width: 400px;
}

.nav {
    display: none;
    .nav-list {
        margin: 0;
        padding: 0;
        background-color: #333333;
        .nav-list-item {
            height: 50px;
            a {
                display: block;
                height: 100%;
                line-height: 50px;
                padding-left: 10px;
                color: $menu-color;
                &:hover {
                    color: $menu-color-active;
                    background-color: $menu-bg-color;
                }
            }
            &.active {
                background-color: $menu-bg-color;
                a {
                    color: $menu-color-active;
                }
            }
        }
    }
}