.back-to-list {
    display: block;
    color: $text-color-grey;
    .fa {
        margin-right: 5px;
    }
    .back-to-list-text {
        font-size: $f-s-16;
    }
}

.hiding-checkbox:checked~.project-info {
    display: block;
}

.hiding-checkbox:checked~.project-header .fa-plus-circle::before {
    content: "\f056";
}

.project {
    margin: 20px 0;
    .project-header {
        margin-bottom: 10px;
    }
    .project-name {
        margin: 0;
    }
    .btn {
        display: none;
    }
    .project-info {
        display: none;
        clear: both;
        .description-list {
            margin: 0;
            padding: 0;
            .list-item {
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
                padding: 10px 0;
                .field-name {
                    font-weight: bold;
                }
                .field-value {
                    float: right;
                    width: 200px;
                    text-align: right;
                    color: $text-color-grey;
                }
            }
        }
    }
}