.project-item {
    margin-top: 15px;
    border: 1px solid $border-color;
}

.project-item-content {
    padding: 15px 10px;
    .project-item-date {
        float: right;
        font-size: $f-s-12;
        color: $text-color-grey;
        .badge {
            margin: 0 10px;
        }
    }
    .project-item-speciality {
        text-transform: uppercase;
        color: $text-color;
        font-size: $f-s-14;
    }
    .project-item-name {
        font-size: $f-s-23;
        font-weight: bold;
        margin-top: 10px;
    }
    .project-item-company {
        margin-top: 10px;
        .project-item-company-name {
            font-size: 15px;
            font-weight: bold;
        }
        .badge {
            font-size: $f-s-12;
        }
    }
}