.project-item {
    margin-top: 15px;
    border: 1px solid $border-color;
    background-color: #fff;
}

.project-item-content {
    padding: 15px 10px;
    p {
        margin: 0;
    }
    .project-item-date {
        float: right;
        font-size: $f-s-12;
        color: $text-color-grey;
        .badge {
            margin: 0 10px;
        }
    }
    .project-item-speciality {
        text-transform: uppercase;
        color: $text-color;
        font-size: $f-s-14;
    }
    .project-item-name {
        font-size: $f-s-23;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .project-item-company {
        margin-top: 10px;
        .project-item-company-name {
            font-size: 15px;
            font-weight: bold;
        }
        .badge {
            font-size: $f-s-12;
        }
    }
    .project-item-job-title {
        margin-top: 10px;
        .timespan {
            color: $text-color-grey;
        }
    }
    .project-item-additional {
        margin-top: 10px;
        p {
            line-height: 1.5rem;
            color: $text-color;
        }
    }
}

.project-item-availabilities {
    padding: 15px 10px;
    border-top: 1px solid $border-color;
    color: $text-color;
    .title {
        margin: 0;
        margin-bottom: 10px;
        font-size: $f-s-16;
        text-decoration: underline;
    }
    .availability {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        padding: 0;
        line-height: 1.5rem;
    }
}