$sm: 750px;
$md: 992px;
$lg: 1200px;
$f-s-11: 11px;
$f-s-12: 12px;
$f-s-14: 14px;
$f-s-16: 16px;
$f-s-20: 20px;
$f-s-23: 23px;
$text-color: #cb012f;
$menu-color: #727272;
$menu-color-active: #dddddd;
$menu-bg-color: #000000;
$text-color-black: #000000;
$text-color-grey: #7f7f7f;
$content-bg-color: #f2f2f2;
$tab-bg-color: #d7d7d7;
$border-color: #e4e4e4;