.banner {
    float: right;
    width: 430px;
    height: 208px;
    margin-right: 30px;
    margin-top: 114px;
}

.banner-title-top {
    color: white;
    font-size: 44px;
    margin-bottom: 5px;
}

.banner-title-bottom {
    font-size: 38px;
    margin-bottom: 2px;
}

.banner-content {
    width: 430px;
    color: white;
    font-size: 10px;
    line-height: 1.8;
    margin-bottom: 21px;
}

.btn {
    cursor: pointer;
    text-transform: capitalize;
}

.btn-banner {
    width: 92px;
    padding: 5px 0px 8px 0px;
    border-radius: 7px;
    border: none;
    background: linear-gradient(to bottom, #ffffff, #a6aa93);
}