* {
    box-sizing: border-box;
}

header {
    height: 500px;
    background-color: #98b318;
    background-image: url("../img/top_bg.jpg");
    background-repeat: repeat-x;
}

.main {
    height: 500px;
    /* LEGACY */
}

footer {
    height: 122px;
    background-color: #98b318;
    background-image: url("../img/footer_bg.jpg");
    background-repeat: repeat-x;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

header>.container {
    height: 500px;
    /* LEGACY */
    background-color: #98b318;
    background-image: url("../img/header_bg.jpg");
    background-repeat: no-repeat;
}