.slider {
  .wrapper {
    height: 222px;
    position: relative;
  }
  .slider-img {
    width: 100%;
    position: absolute;
  }
  .slider-links {
    @include flex-container(column, nowrap, flex-end);
    width: 100%;
    height: 100%;
    position: absolute;
    .slider-links-frst {
      @include link-hover(inherit, 0.8);
      height: 36px;
      padding: 10px 10px;
      background: rgba(255, 255, 255, 0.8);
      color: #222;
      font-size: 1em * 7 / 8;
    }
    .slider-links-scnd {
      @include link-hover(#E9E9E9, 0.8);
      display: block;
      padding: 9px 10px;
      font-size: 1em * 5 / 8;
      color: #E9E9E9;
      background: #111;
    }
    .slider-links-credit {
      display: block;
      padding: 0;
      align-self: flex-end;
      font-size: 0.5em;
      color: #555;
      background: rgb(255, 255, 255);
      border-radius: 3px;
      a {
        @include link-hover(#EC6635);
        color: #555;
      }
    }
    .slider-links-credit:before {
      content: "* ";
    }
  }
}

.underslider-nav {
  display: none;
  p {
    display: none;
  }
}

@include media-range($xs+1, $sm) {
  .slider {
    .wrapper {
      height: 263px;
    }
  }
}

@include media-higher-than($sm+1) {
  .slider {
    .wrapper {
      height: 350px;
    }
    .slider-links {
      align-items: flex-start;
      .slider-links-frst {
        height: 44px;
        padding: 10px 10px;
        font-size: 20px;
      }
      .slider-links-scnd {
        padding: 9px 10px;
        margin-bottom: 30px;
        font-size: 16px;
      }
      .slider-links-credit {
        padding: 4px 8px 6px;
        margin-right: 10px;
        background: rgba(255, 255, 255, .5);
        border-radius: 3px;
        font-size: 6px;
        color: #555;
      }
    }
  }
  .underslider-nav {
    display: block;
    padding: 0;
    margin-bottom: 40px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @include flex-container();
      li {
        width: 25%;
        height: 30px;
        color: #34AC98;
        background: #eff8f7;
        text-shadow: 0 1px 0 #FAFDFC;
        a {
          @include link-hover(#EC6635);
          @include flex-container($jc: center) {
            align-items: center;
          }
          ;
          height: 30px;
          &.active {
            background: #d9efec;
          }
          h3 {
            margin: 0;
            font-weight: inherit;
          }
        }
      }
    }
  }
}

@include media-higher-than($lg+1) {
  .slider {
    .wrapper {
      height: 445px;
      position: relative;
    }
  }
  .underslider-nav {
    ul {
      li {
        height: 100%;
        a {
          height: 100%;
          flex-direction: column;
          align-items: initial;
          padding: 20px 30px;
          p {
            display: block;
            margin: 0;
            font-size: 10px;
          }
        }
      }
    }
  }
}