.slider {
  .wrapper {
    height: 222px;
    position: relative;
  }
  .slider-img {
    width: 100%;
    position: absolute;
  }
  .slider-links {
    @include flex-container(column, nowrap, flex-end);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    .slider-links-frst {
      @include link-hover(inherit, 0.8);
      height: 36px;
      padding: 10px 10px;
      background: rgba(255, 255, 255, 0.8);
      color: #222;
      font-size: 1em * 7 / 8;
    }
    .slider-links-scnd {
      @include link-hover(#E9E9E9, 0.8);
      display: block;
      padding: 9px 10px;
      font-size: 1em * 5 / 8;
      color: #E9E9E9;
      background: #111;
    }
    .slider-links-credit {
      display: block;
      padding: 0;
      align-self: flex-end;
      font-size: 0.5em;
      color: #555;
      background: rgb(255, 255, 255);
      border-radius: 3px;
      a {
        text-decoration: none;
        color: #555;
      }
    }
    .slider-links-credit:before {
      content: "* ";
    }
  }
}

@include media-range($xs+1, $sm) {
  .slider {
    .wrapper {
      height: 263px;
    }
  }
}