nav {
  @include flex-container();
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 0.75em;
}

.top-nav-menu {
  @include flex-container($jc: space-around);
  list-style: none;
  padding: 0;
  margin: 0;
  a {
    @include link-hover(#EC6635);
    color: #34AC98;
    font-style: italic;
  }
}

@include media-range($xs+1, $sm) {
  .top-nav-menu {
    width: 300px;
  }
}