nav {
  @include flex-container($jc: space-around);
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 0.75em;
}

.top-nav-menu {
  @include flex-container($jc: space-around);
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  a {
    @include link-hover(#EC6635);
    color: #34AC98;
    font-style: italic;
  }
}

.icon,
.social-side {
  display: none;
}

@include media-higher-than($xs+1) {
  .top-nav-menu {
    width: 300px;
  }
}

@include media-higher-than($sm+1) {
  .top-nav-menu {
    width: 500px;
    font-size: 16px;
    li {
      @include flex-container(column);
      align-items: center;
    }
  }
  .icon {
    display: block;
    width: 32px;
    height: 32px;
    &.icon-fork {
      background: url(../img/nav-tastemakers.png) no-repeat;
    }
    &.icon-book {
      background: url(../img/nav-blog.png) no-repeat;
    }
    &.icon-camera {
      background: url(../img/nav-contribute.png) no-repeat;
    }
    &.icon-notebook {
      background: url(../img/nav-about.png) no-repeat;
    }
    &.icon-list {
      background: url(../img/nav-alist.png) no-repeat;
    }
  }
}

@include media-higher-than($md+1) {
  nav {
    border: none;
  }
  .top-nav-menu {
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    li {
      flex-direction: row;
      align-items: center;
    }
    .icon {
      margin-right: 10px;
    }
  }
  .social-side {
    @include flex-container(column, nowrap, space-between);
    height: 180px;
    .social-side-title {
      margin: 0 0 9px;
      padding-bottom: 5px;
      text-transform: uppercase;
      font-size: .75em;
      font-weight: inherit;
      border-bottom: 1px dashed #E5E5E5;
    }
    .social-side-description {
      width: 140px;
      padding: 0;
      margin: 0;
      margin-bottom: 15px;
      line-height: 12px;
      font-size: 9px;
      font-style: italic;
    }
    .social-button {
      @include flex-container();
      width: 140px;
      height: 24px;
      padding: 4px 0 0 10px;
      border: 1px solid #E5E5E5;
      border-radius: 5px;
      font-size: 10px;
      font-style: italic;
      font-weight: inherit;
    }
  }
  %icon-sm {
    width: 16px;
    height: 16px;
  }
  .icon-twitter-sm,
  .icon-facebook-sm {
    width: 16px;
    height: 16px;
  }
  .icon-twitter-sm {
    @extend %icon-sm;
    background: url(../img/icon-twitter-16.png) no-repeat;
  }
  .icon-facebook-sm {
    @extend %icon-sm;
    background: url(../img/icon-facebook-16.png) no-repeat;
  }
}