$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1176px;
$link-color: #34AC98;
$link-h-color: #EC6635;
$meta-color: #AAA;
$credits-color: #555;
$f-s-6: 6px;
$f-s-9: 9px;
$f-s-10: 10px;
$f-s-11: 11px;
$f-s-12: 12px;
$f-s-13: 13px;
$f-s-14: 14px;
$f-s-16: 16px;
$f-s-20: 20px;