html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

.content {
  padding: 2%;
  min-width: 350px;
  background-color: #f2f2f2; }

.container {
  width: 100%; }

.header {
  height: 60px; }

a {
  color: #000000;
  text-decoration: none; }

.btn {
  padding: 0 15px;
  height: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  background-color: #e9e9e9;
  background-image: linear-gradient(to bottom, #f1f1f1, #e1e1e1);
  font-size: 14px; }

.icon {
  display: inline-block;
  width: 20px;
  height: 20px; }

.icon-excel {
  background: url("../img/excel.png"); }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.hiding-checkbox {
  display: none; }

.hiding-checkbox:checked ~ .nav {
  display: block; }
  .hiding-checkbox:checked ~ .nav.nav-interactive {
    visibility: visible;
    z-index: 1;
    transform: translateX(0%);
    transition-delay: 0s, 0s, 400ms; }

.badge {
  display: inline;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #cb012f;
  color: #ffffff;
  font-weight: bold; }

.list-unstyled {
  list-style: none; }

.hidden-outline {
  outline: 0; }

.hidden-outline:focus {
  outline: 0; }

.fl {
  float: left; }

.fr {
  float: right; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.d-inline-b {
  display: inline-block;
  vertical-align: middle; }

.d-block {
  display: block; }

.cursor-pointer {
  cursor: pointer; }

.header-logo {
  height: 100%;
  background-image: url("../img/epam-logo.png");
  background-repeat: no-repeat;
  background-position: center; }

.hamburger {
  margin-top: 12px;
  margin-left: 20px;
  color: #cb012f;
  font-weight: bold;
  vertical-align: middle; }

.left-side .nav {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 400px;
  background-color: #333333;
  transform: translateX(-400em);
  transition: all 0.3s ease-in-out 0s, visibility 1s linear 0s, z-index 1s linear 0.5s;
  visibility: hidden;
  z-index: -1; }
  .left-side .nav .nav-list {
    margin: 0;
    padding: 0;
    background-color: #333333; }
    .left-side .nav .nav-list .nav-list-item {
      height: 50px; }
      .left-side .nav .nav-list .nav-list-item a {
        display: block;
        height: 100%;
        line-height: 50px;
        padding-left: 10px;
        color: #727272; }
        .left-side .nav .nav-list .nav-list-item a:hover {
          color: #dddddd;
          background-color: #000000; }
      .left-side .nav .nav-list .nav-list-item.active {
        background-color: #000000; }
        .left-side .nav .nav-list .nav-list-item.active a {
          color: #dddddd; }
      .left-side .nav .nav-list .nav-list-item .wrapper {
        padding-top: 5px;
        margin-left: 20px;
        line-height: 1em; }
      .left-side .nav .nav-list .nav-list-item .welcome-text {
        display: inline-block;
        margin: 0;
        font-size: 12px; }
      .left-side .nav .nav-list .nav-list-item .user-name {
        display: block;
        font-size: 11px; }

.back-to-list {
  display: block;
  color: #7f7f7f; }
  .back-to-list .fa {
    margin-right: 5px; }
  .back-to-list .back-to-list-text {
    font-size: 16px; }

.project {
  margin: 20px 0; }
  .project .project-header {
    margin-bottom: 10px; }
  .project .project-name {
    margin: 0; }
  .project .btn {
    display: none; }
  .project .nav {
    display: none;
    clear: both; }
    .project .nav .nav-list {
      margin: 0;
      padding: 0; }
      .project .nav .nav-list .list-item {
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        padding: 10px 0; }
        .project .nav .nav-list .list-item .field-name {
          font-weight: bold; }
        .project .nav .nav-list .list-item .field-value {
          float: right;
          width: 200px;
          text-align: right;
          color: #7f7f7f; }

.tabs {
  width: 100%; }
  .tabs .tab {
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: #d7d7d7;
    border: 1px solid #e4e4e4;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .tabs .tab .fa {
      color: #cb012f; }
    .tabs .tab.active {
      background-color: #f2f2f2; }

.filter {
  padding: 15px 10px;
  border: 1px solid #e4e4e4;
  border-top: none; }
  .filter .btn-expand {
    width: 32%;
    margin-right: 2%; }
  .filter .btn-export {
    width: 32%;
    margin-right: 1%; }
  .filter .dropdown-select {
    margin-top: 15px; }
    .filter .dropdown-select .selector {
      width: 100%;
      padding: 10px;
      color: #848484;
      border: 1px solid #d7d7d7;
      border-radius: 5px;
      font-size: 14px; }
      .filter .dropdown-select .selector > option:hover {
        background-color: #848484; }

.btn-filter {
  float: right;
  position: relative;
  width: 27%; }
  .btn-filter::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -14px;
    display: block;
    width: 27px;
    height: 27px;
    transform: rotate(45deg);
    border: 1px solid #d7d7d7;
    background-color: #e9e9e9;
    background-image: linear-gradient(to bottom, #f1f1f1, #e1e1e1); }
  .btn-filter .btn {
    position: relative;
    width: 100%;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.project-item {
  margin-top: 15px;
  border: 1px solid #e4e4e4; }

.project-item-content {
  padding: 15px 10px; }
  .project-item-content .project-item-date {
    float: right;
    font-size: 12px;
    color: #7f7f7f; }
    .project-item-content .project-item-date .badge {
      margin: 0 10px; }
  .project-item-content .project-item-speciality {
    text-transform: uppercase;
    color: #cb012f;
    font-size: 14px; }
