html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

.content {
  background-color: #f2f2f2;
  padding: 2%; }

.container {
  width: 96%; }

.header {
  height: 60px; }

a {
  color: #000000;
  text-decoration: none; }

.btn {
  padding: 0 15px;
  height: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #f1f1f1, #e1e1e1);
  font-size: 14px; }

.icon {
  display: inline-block;
  width: 20px;
  height: 20px; }

.icon-excel {
  background: url("../img/excel.png"); }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.hiding-checkbox {
  display: none; }

.hiding-checkbox:checked ~ .nav {
  display: block; }

.list-unstyled {
  list-style: none; }

.hidden-outline {
  outline: 0; }

.hidden-outline:focus {
  outline: 0; }

.fl {
  float: left; }

.fr {
  float: right; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.d-inline-b {
  display: inline-block;
  vertical-align: middle; }

.d-block {
  display: block; }

.cursor-pointer {
  cursor: pointer; }

.header-logo {
  height: 100%;
  background-image: url("../img/epam-logo.png");
  background-repeat: no-repeat;
  background-position: center; }

.hamburger {
  margin-top: 5px;
  margin-left: 20px;
  color: #cb012f;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle; }

.left-side .nav {
  position: absolute;
  top: 60px;
  bottom: 0;
  display: none;
  width: 400px;
  background-color: #333333; }
  .left-side .nav .nav-list {
    margin: 0;
    padding: 0;
    background-color: #333333; }
    .left-side .nav .nav-list .nav-list-item {
      height: 50px; }
      .left-side .nav .nav-list .nav-list-item a {
        display: block;
        height: 100%;
        line-height: 50px;
        padding-left: 10px;
        color: #727272; }
        .left-side .nav .nav-list .nav-list-item a:hover {
          color: #dddddd;
          background-color: #000000; }
      .left-side .nav .nav-list .nav-list-item.active {
        background-color: #000000; }
        .left-side .nav .nav-list .nav-list-item.active a {
          color: #dddddd; }
      .left-side .nav .nav-list .nav-list-item .wrapper {
        padding-top: 5px;
        margin-left: 20px;
        line-height: 1em; }
      .left-side .nav .nav-list .nav-list-item .welcome-text {
        display: inline-block;
        margin: 0;
        font-size: 12px; }
      .left-side .nav .nav-list .nav-list-item .user-name {
        display: block;
        font-size: 11px; }

.back-to-list {
  display: block;
  color: #7f7f7f; }
  .back-to-list .fa {
    margin-right: 5px; }
  .back-to-list .back-to-list-text {
    font-size: 16px; }

.project {
  margin: 20px 0; }
  .project .project-header {
    margin-bottom: 10px; }
  .project .project-name {
    margin: 0; }
  .project .btn {
    display: none; }
  .project .nav {
    display: none;
    clear: both; }
    .project .nav .nav-list {
      margin: 0;
      padding: 0; }
      .project .nav .nav-list .list-item {
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        padding: 10px 0; }
        .project .nav .nav-list .list-item .field-name {
          font-weight: bold; }
        .project .nav .nav-list .list-item .field-value {
          float: right;
          width: 200px;
          text-align: right;
          color: #7f7f7f; }
