body
    font-family: ff-tisa-web-pro, Georgia, sans-serif
    
nav 
    border-bottom: 1px solid #E5E5E5
    padding-top: 10px
    padding-bottom: 15px 
    font-size: .75em
    
.top-nav-menu
    display: flex
    flex-direction: row
    justify-content: space-around
    list-style: none
    padding: 0
    margin: 0
    a 
        text-decoration: none
        color: #34AC98
        font-style: italic
        &:hover
            color: #EC6635
