@model UsersAward.PLL.Web.Models.UserModels.RewardVM

<div class="modal fade" tabindex="-1" role="dialog" id="awardModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Avaliable awards</h4>
            </div>
            <div class="modal-body">
                @Model.Awards.Count
                @for (int i = 0; i < Model.Awards.Count; i++)
                {
                    <div>
                        @Html.ActionLink(Model.Awards[i].Title, "AddAwardToUser", "User", new { userId = Model.UserId, awardId = Model.Awards[i].Id }, new { @class = "award" })
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
