@model UsersAward.PLL.Web.Models.AwardModels.DisplayAwardVM

@{
    Layout = "~/Views/Shared/_AwardsLayout.cshtml";
    ViewBag.Title = "Award details";
}

<h2>Details</h2>

<div>
    <h4>DisplayAwardVM</h4>
    <hr />
    @{ Html.RenderPartial("_DisplayAwardInfo", Model); }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
