USE [master]
GO
/****** Object:  Database [UsersAwards]    Script Date: 7/19/2018 9:50:52 PM ******/
CREATE DATABASE [UsersAwards]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsersAwards', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\UsersAwards.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsersAwards_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\UsersAwards_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersAwards].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersAwards]
GO
USE [UsersAwards]
GO
/****** Object:  Table [dbo].[Award]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Award](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Award] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[OwnerId] [uniqueidentifier] NOT NULL,
	[Bytes] [varbinary](max) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Birthdate] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersAwards]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersAwards](
	[UserId] [uniqueidentifier] NOT NULL,
	[AwardId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UsersAwards] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[AwardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Award] ([Id], [Title], [Description]) VALUES (N'4e2e202f-1f76-4184-badd-009a4d010a2e', N'Hacaton winner', N'award')
INSERT [dbo].[Award] ([Id], [Title], [Description]) VALUES (N'809e161a-a91e-4049-b990-5a696775be2f', N'Best People', N'For the best guys')
INSERT [dbo].[Award] ([Id], [Title], [Description]) VALUES (N'6d878719-9772-4fc6-9a9c-633c31d42f30', N'Hacaton participent', N'desc')
INSERT [dbo].[User] ([Id], [Name], [Birthdate]) VALUES (N'ec1b27d2-fc7a-48ad-a054-01f9baa78292', N'Svetlana', CAST(N'1989-07-15T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([Id], [Name], [Birthdate]) VALUES (N'3425fb34-16fc-4683-86db-2da8278fc484', N'Petya with photo', CAST(N'2000-02-28T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([Id], [Name], [Birthdate]) VALUES (N'6399de4d-83b0-4af1-80c8-4d2424055ce8', N'Olya', CAST(N'2000-07-18T00:00:00.000' AS DateTime))
INSERT [dbo].[UsersAwards] ([UserId], [AwardId]) VALUES (N'ec1b27d2-fc7a-48ad-a054-01f9baa78292', N'4e2e202f-1f76-4184-badd-009a4d010a2e')
INSERT [dbo].[UsersAwards] ([UserId], [AwardId]) VALUES (N'ec1b27d2-fc7a-48ad-a054-01f9baa78292', N'143cb86a-0cf5-40ef-98ae-874521be2784')
INSERT [dbo].[UsersAwards] ([UserId], [AwardId]) VALUES (N'3425fb34-16fc-4683-86db-2da8278fc484', N'4e2e202f-1f76-4184-badd-009a4d010a2e')
ALTER TABLE [dbo].[Image]  WITH NOCHECK ADD  CONSTRAINT [FK_Image_Award] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Award] ([Id])
GO
ALTER TABLE [dbo].[Image] NOCHECK CONSTRAINT [FK_Image_Award]
GO
ALTER TABLE [dbo].[Image]  WITH NOCHECK ADD  CONSTRAINT [FK_Image_User] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[User] ([Id])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Image] NOCHECK CONSTRAINT [FK_Image_User]
GO
ALTER TABLE [dbo].[UsersAwards]  WITH CHECK ADD  CONSTRAINT [FK_UsersAwards_Award] FOREIGN KEY([AwardId])
REFERENCES [dbo].[Award] ([Id])
GO
ALTER TABLE [dbo].[UsersAwards] CHECK CONSTRAINT [FK_UsersAwards_Award]
GO
ALTER TABLE [dbo].[UsersAwards]  WITH CHECK ADD  CONSTRAINT [FK_UsersAwards_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UsersAwards] CHECK CONSTRAINT [FK_UsersAwards_User]
GO
/****** Object:  StoredProcedure [dbo].[Award.AddAward]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Award.AddAward]
	-- Add the parameters for the stored procedure here
	@Id uniqueidentifier,
	@Title nvarchar(50),
	@Description nvarchar(250)
AS
BEGIN
    -- Insert statements for procedure here
	INSERT INTO Award (Id, Title, Description) VALUES(@Id,@Title,@Description)
END
GO
/****** Object:  StoredProcedure [dbo].[Award.DeleteAward]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Award.DeleteAward]
	-- Add the parameters for the stored procedure here
	@Id uniqueidentifier
AS
BEGIN
    DELETE FROM dbo.[Award] WHERE dbo.[Award].Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[Award.GetAwardByTitle]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Award.GetAwardByTitle]
	-- Add the parameters for the stored procedure here
	@Title nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TOP 1 [Award].[Id], [Award].[Title], [Award].[Description] FROM [Award]
	WHERE [Award].Title=@Title
END
GO
/****** Object:  StoredProcedure [dbo].[Award.GetById]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Award.GetById]
	-- Add the parameters for the stored procedure here
	@Id uniqueidentifier
AS
BEGIN
    -- Insert statements for procedure here
	SELECT TOP 1 * FROM [Award] WHERE [Award].[Id]=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[Award.UpdateAward]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Award.UpdateAward]
	-- Add the parameters for the stored procedure here
	@Title nvarchar(50),
	@Description nvarchar(250),
	@Id uniqueidentifier
AS
BEGIN
    -- Insert statements for procedure here
	UPDATE dbo.[Award] SET [Title]=@Title, [Description]=@Description WHERE dbo.[Award].Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[Awards.GetAll]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Awards.GetAll] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM dbo.[Award]
END
GO
/****** Object:  StoredProcedure [dbo].[Image.AddImage]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Image.AddImage]
	-- Add the parameters for the stored procedure here
	@OwnerId uniqueidentifier,
	@Bytes varbinary(max),
	@DataType nvarchar(50)
AS
BEGIN
    -- Insert statements for procedure here
	INSERT INTO [Image] VALUES (@OwnerId, @Bytes, @DataType)
END
GO
/****** Object:  StoredProcedure [dbo].[Image.DeleteImage]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Image.DeleteImage]
	-- Add the parameters for the stored procedure here
	@OwnerId uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [Image] WHERE [Image].[OwnerId]=@OwnerId
END
GO
/****** Object:  StoredProcedure [dbo].[Image.GetById]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Image.GetById] 
	-- Add the parameters for the stored procedure here
	@Id uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [Image].[OwnerId], [Image].[Bytes], [Image].[Type] FROM [Image]
	WHERE [Image].[OwnerId]=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[Image.UpdateImage]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Image.UpdateImage]
	-- Add the parameters for the stored procedure here
	@OwnerId uniqueidentifier,
	@Data varbinary(max),
	@DataType nvarchar(50)
AS
BEGIN
    -- Insert statements for procedure here
	UPDATE dbo.[Image] SET [Bytes]=@Data, [Type]=@DataType
	WHERE [Image].[OwnerId]=@OwnerId
END
GO
/****** Object:  StoredProcedure [dbo].[User.AddUser]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User.AddUser]
	-- Add the parameters for the stored procedure here
	@Id uniqueidentifier,
	@Name nvarchar(50),
	@Birthdate datetime
AS
BEGIN
    -- Insert statements for procedure here
	INSERT INTO [User] ([Id], [Name], [Birthdate]) VALUES(@Id,@Name,@Birthdate)
END
GO
/****** Object:  StoredProcedure [dbo].[User.DeleteUser]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User.DeleteUser] 
	-- Add the parameters for the stored procedure here
	@Id uniqueidentifier
AS
BEGIN
    -- Insert statements for procedure here
	DELETE FROM dbo.[User] WHERE dbo.[User].Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[User.GetAll]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User.GetAll]
	
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [User].[Id] as 'UserId', [User].[Birthdate], [User].[Name], [Award].[Id] as 'AwardId', [Award].[Title], [Award].[Description] FROM [User]
	LEFT JOIN [UsersAwards] ON [User].[Id] = [UsersAwards].[UserId]
	LEFT JOIN [Award] ON [UsersAwards].[AwardId] = [Award].[Id]
END
GO
/****** Object:  StoredProcedure [dbo].[User.GetAllUsers]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User.GetAllUsers] 
	
AS
BEGIN
	SET NOCOUNT ON;

	SELECT [User].[Id] as 'UserId', [User].[Birthdate], [User].[Name], [Award].[Id] as 'AwardId', [Award].[Title], [Award].[Description] FROM [User]
	LEFT JOIN [UsersAwards] ON [User].[Id] = [UsersAwards].[UserId]
	LEFT JOIN [Award] ON [UsersAwards].[AwardId] = [Award].[Id]
END
GO
/****** Object:  StoredProcedure [dbo].[User.GetById]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User.GetById] 
	-- Add the parameters for the stored procedure here
	@Id uniqueidentifier
AS
BEGIN
    -- Insert statements for procedure here
	SELECT TOP 1 [User].[Id], [User].[Birthdate], [User].[Name] FROM [User]
	WHERE [User].[Id]=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[User.UpdateUser]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User.UpdateUser]
	-- Add the parameters for the stored procedure here
	@Name nvarchar(50),
	@Birthdate datetime,
	@Id uniqueidentifier
AS
BEGIN
    -- Insert statements for procedure here
	UPDATE dbo.[User] SET [Name]=@Name, [Birthdate]=@Birthdate WHERE dbo.[User].[Id]=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[Users.GetAll]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Users.GetAll] 
AS
BEGIN
	SET NOCOUNT ON;
	SELECT [User].[Id], [User].[Birthdate], [User].[Name] FROM [User]
END
GO
/****** Object:  StoredProcedure [dbo].[UsersAwards.AddAwardToUser]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UsersAwards.AddAwardToUser] 
	-- Add the parameters for the stored procedure here
	@UserId uniqueidentifier,
	@AwardId uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [UsersAwards] VALUES(@UserId, @AwardId)
END
GO
/****** Object:  StoredProcedure [dbo].[UsersAwards.GetFreeUserAwards]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UsersAwards.GetFreeUserAwards]
	-- Add the parameters for the stored procedure here
	@UserId uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		SELECT	  AA.Id
			, AA.Title
			, AA.[Description]	
	 FROM  Award  AA
	JOIN (SELECT A.Id FROM [Award] A
	EXCEPT 
	SELECT UA.AwardId FROM UsersAwards UA
	WHERE UA.UserId = @UserId) P
	ON P.Id = AA.Id
END
GO
/****** Object:  StoredProcedure [dbo].[UsersAwards.GetUserAwards]    Script Date: 7/19/2018 9:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UsersAwards.GetUserAwards] 
	-- Add the parameters for the stored procedure here
	@UserId uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [Award].[Id], [Award].[Title], [Award].[Description] FROM [UsersAwards]
	LEFT JOIN [Award] ON [UsersAwards].[AwardId]=[Award].[Id]
	WHERE [UsersAwards].[UserId]=@UserId
END
GO
USE [master]
GO
