.header
    +flex-container(column)
    
.logo
    +link-hover(inherit, .8)
    display: block
    margin: 20px auto
    width: 120px
    height: 120px
    background: url(../img/logo-mini.png) no-repeat 0 0  