* {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ff-tisa-web-pro, Georgia, sans-serif; }

a {
  text-decoration: none;
  color: #34AC98; }

.content {
  display: flex;
  flex-direction: column;
  width: 310px; }
  @media all and (min-width: 481px) and (max-width: 768px) {
    .content {
      width: 480px; } }

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 0.75em; }

.top-nav-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0; }
  .top-nav-menu a {
    color: #34AC98;
    font-style: italic; }
    .top-nav-menu a:hover {
      color: #EC6635;
      opacity: 1; }

@media all and (min-width: 481px) and (max-width: 768px) {
  .top-nav-menu {
    width: 300px; } }

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start; }

.logo {
  display: block;
  margin: 20px auto;
  width: 120px;
  height: 120px;
  background: url(../img/logo-mini.png) no-repeat 0 0; }
  .logo:hover {
    color: inherit;
    opacity: 0.8; }

@media all and (min-width: 481px) and (max-width: 768px) {
  .header {
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: flex-end; }
    .header .logo {
      margin: 20px; } }

.slider .wrapper {
  height: 222px;
  position: relative; }

.slider .slider-img {
  width: 100%;
  position: absolute; }

.slider .slider-links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0; }
  .slider .slider-links .slider-links-frst {
    height: 36px;
    padding: 10px 10px;
    background: rgba(255, 255, 255, 0.8);
    color: #222;
    font-size: 0.875em; }
    .slider .slider-links .slider-links-frst:hover {
      color: inherit;
      opacity: 0.8; }
  .slider .slider-links .slider-links-scnd {
    display: block;
    padding: 9px 10px;
    font-size: 0.625em;
    color: #E9E9E9;
    background: #111; }
    .slider .slider-links .slider-links-scnd:hover {
      color: #E9E9E9;
      opacity: 0.8; }
  .slider .slider-links .slider-links-credit {
    display: block;
    padding: 0;
    align-self: flex-end;
    font-size: 0.5em;
    color: #555;
    background: white;
    border-radius: 3px; }
    .slider .slider-links .slider-links-credit a {
      text-decoration: none;
      color: #555; }
  .slider .slider-links .slider-links-credit:before {
    content: "* "; }

@media all and (min-width: 481px) and (max-width: 768px) {
  .slider .wrapper {
    height: 263px; } }

.newsletter {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 120px;
  margin-bottom: 29px;
  line-height: 1em;
  border-top: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
  background: url(../img/letter-icon.png) no-repeat 18px 7px; }
  .newsletter .newsletter-text {
    font-size: 0.7em;
    padding-left: 66px;
    margin-top: 10px;
    margin-bottom: 0; }
  .newsletter .newsletter-form {
    height: 23px;
    padding-left: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch; }
    .newsletter .newsletter-form .newsletter-form-label {
      display: none; }
    .newsletter .newsletter-form .newsletter-form-input {
      background-color: #fff;
      border: 1px solid;
      border-color: #848484 #c1c1c1 #e1e1e1;
      color: #000;
      outline: 0;
      padding: 2px 3px;
      font-size: 13px;
      font-family: Arial, "Liberation Sans", FreeSans, sans-serif; }
    .newsletter .newsletter-form .newsletter-form-submit {
      border-radius: 4px;
      border: 1px solid #ddd;
      border-color: #ddd #bbb #999;
      cursor: pointer;
      color: #333;
      font: bold 12px / 1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
      margin-left: 10px;
      width: auto;
      background: #ddd url(../img/button.png) repeat-x; }

@media all and (min-width: 481px) and (max-width: 768px) {
  .newsletter .newsletter-form .newsletter-form-input {
    width: 300px; } }

.articles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start; }
  .articles .article {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center; }
    .articles .article .article-link {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-content: center;
      width: 100%; }
      .articles .article .article-link:hover {
        color: #EC6635;
        opacity: 0.8; }
      .articles .article .article-link .article-link-img {
        width: 100%;
        padding: 9px;
        background: #FFF;
        border: 1px solid #E5E5E5; }
      .articles .article .article-link p {
        width: 100%;
        font-size: 100%;
        font-weight: inherit;
        font-style: normal; }
    .articles .article p {
      margin: 5px 0;
      font-size: .875em;
      line-height: 1.45em; }
    .articles .article .article-meta {
      width: 100%;
      color: #AAA;
      font-size: .875em;
      border: 0; }
      .articles .article .article-meta .article-meta-link:hover {
        color: #EC6635;
        opacity: 1; }

@media all and (min-width: 481px) and (max-width: 768px) {
  .articles {
    flex-flow: row wrap; }
    .articles .article {
      flex: 0 0 50%; } }

.footer {
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #E5E5E5;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .footer .footer-actions {
    font-size: 10px; }
  .footer .footer-actions-rights {
    display: block;
    color: #AAA;
    font-size: 10px;
    margin: 0; }
  .footer .footer-social-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%; }
    .footer .footer-social-list li .twitter, .footer .footer-social-list li .facebook, .footer .footer-social-list li .rss {
      display: block;
      width: 32px;
      height: 32px;
      margin-right: 2px;
      opacity: .4; }
      .footer .footer-social-list li .twitter:hover, .footer .footer-social-list li .facebook:hover, .footer .footer-social-list li .rss:hover {
        opacity: 1; }
    .footer .footer-social-list li .twitter {
      background: url(../img/icon-twitter-mini.png) no-repeat; }
    .footer .footer-social-list li .facebook {
      background: url(../img/icon-facebook-mini.png) no-repeat; }
    .footer .footer-social-list li .rss {
      background: url(../img/icon-rss-mini.png) no-repeat; }
